In [1]:
import pandas as pd

# US States

In [ ]:
# list of two-character state abbreviation 
# 50 states and DC

states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [ ]:
# dictionary with state name to two-character state abbreviation
# 50 states, DC and territories

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

# US Counties

In [2]:
# dataframe of US counties and 4-digit FIPS codes
# 50 states, DC and territories
pd.read_csv('us_county_codes.csv')

      FIPS         Name  State
0      1001     Autauga     AL
1      1003     Baldwin     AL
2      1005     Barbour     AL
3      1007        Bibb     AL
4      1009      Blount     AL
...     ...          ...   ...
3227  72151     Yabucoa     PR
3228  72153       Yauco     PR
3229  78010   St. Croix     VI
3230  78020    St. John     VI
3231  78030  St. Thomas     VI

[3232 rows x 3 columns]

# US Cities

In [3]:
# dataframe of US city coords, population, etc.
# incorporated cities only
pd.read_csv('simplemaps_uscities_basicv1.6/uscities.csv')

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500.0,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947.0,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441.0,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507.0,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591.0,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840041959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28884,Montrose,Montrose,SD,South Dakota,46087,McCook,46087,McCook,43.7002,-97.1843,442.0,414.0,polygon,False,True,America/Chicago,3,57048,1840002659
28885,Spearfish,Spearfish,SD,South Dakota,46081,Lawrence,46081,Lawrence,44.4912,-103.8167,12675.0,272.0,polygon,False,True,America/Denver,3,57783 57799,1840002374
28886,Emery,Emery,SD,South Dakota,46061,Hanson,46061,Hanson,43.6020,-97.6195,455.0,384.0,polygon,False,True,America/Chicago,3,57332,1840002644
28887,Watertown,Watertown,SD,South Dakota,46029,Codington,46029,Codington,44.9094,-97.1532,21837.0,475.0,polygon,False,True,America/Chicago,3,57201,1840002156
28888,Buffalo,Buffalo,SD,South Dakota,46063,Harding,46063,Harding,45.5864,-103.5434,346.0,241.0,polygon,False,True,America/Denver,3,57720,1840002018